<!DOCTYPE html>
<html>
<head>
  <title>Wowdb</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='wowDb'>

<%= yield %>

</body>
</html>
